.user {
   display: block;
   background-color: rgb(130, 117, 130);

}

.user h1 {
   display: flex;
   justify-content: center;
   align-items: center;
   color: aliceblue;


}

.user p {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: green;
   margin: auto;
}

h3 {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
   color: aquamarine;
}